<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">
    Culpa proident ex nisi cupidatat <span highlight>voluptate excepteur</span> do sint cillum tempor ut ad quis irure. Mollit ullamco
    excepteur ut culpa aliqua proident tempor proident esse. Consequat duis id ipsum nostrud anim duis. Proident elit
    dolore irure ea officia sit nostrud. Duis id quis ipsum qui. Sunt consequat cupidatat labore et tempor consectetur
    voluptate et ad pariatur.
  </p>
  <!-- <p class="text-xs">
    Number of clients: <app-counter [duration]="duration()" [message]="message()" *ngIf="duration()>0" />
  </p> -->
  <div>
    <app-wave-audio audioUrl="assets/src_assets_audio.mp3" />
  </div>
</div>
